body {
  background-color: rgb(30, 30, 46);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: Helvetica;
  font-style: italic;
  font-size: 40px;
  margin: 0;
  color: rgb(180, 190, 254);
}

img {
  display: block;
  margin: 0 auto;
}

#avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #74c7ec;
  box-shadow: 0 0 20px 5px rgba(116, 199, 236, 0.3);
}

#content {
  background-color: #1e1e2e;
  width: 500px;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px 5px rgb(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
  font-size: 20px;
}

.socials {
  text-align: center;
}

a {
  color: rgb(180, 190, 254);
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  width: 100%;
}

.un {
  display: inline-block;
}

.un::after {
  content: "";
  width: 0px;
  height: 1.5px;
  display: block;
  background: #cba6f7;
  transition: 500ms;
}

.un:hover::after {
  width: 100%;
}

/* Soundcloud Button */
.soundcloud {
  text-align: center;
  margin-top: 20px;
}

.btn-shine {
  transform: translate(-50%, -50%);
  padding: 12px 48px;
  color: #fff;
  background: linear-gradient(
    to right,
    rgb(49, 50, 68) 0,
    rgb(180, 190, 254) 10%,
    rgb(49, 50, 68) 20%
  );
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
